<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body class="text-center flex flex-col justify-between h-100vh m-0">

  <div>
    <h1 class="font-sans font-black text-6xl">Wheke</h1>

    <img class="max-w-100vw" src="static/img/wheke.png" alt="Wheke"></a>
    <br>
    <em>A cute framework for small self-hosted apps</em>
  </div>

  <div class="p-3">
    <small>Made with ❤️ by <a href="https://humberto.io">Humberto Rocha</a></small>
    <br>
    <small>Illustrated with ❤️ by <a href="https://bissgigi.art">Giovanna Bissacot</a></small>
  </div>
</body>

</html>
